html body {
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  color: #707070;
  font-weight: 400;
}

html ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn, .hero .hero-content .white, .portfolio .pink {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px auto;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.btn:hover, .hero .hero-content .white:hover, .portfolio .pink:hover {
  -webkit-transform: translate(0px, -10px) scale(1.1);
          transform: translate(0px, -10px) scale(1.1);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94%;
  margin: auto;
  height: 100px;
  position: relative;
}

header .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  width: 25%;
}

header .brand .logo {
  max-width: 45px;
  width: 100%;
  display: block;
  margin-right: 15px;
}

header .brand .site-name {
  letter-spacing: 3px;
}

header .brand .site-name h1 {
  font-size: 19px;
  margin: 0;
}

header .brand .site-name h2 {
  font-size: 8px;
  color: #c3d0d8;
  font-weight: 400;
  margin: 0;
}

header nav.main {
  width: 60%;
}

header nav.main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  letter-spacing: 2px;
}

header nav.main ul li {
  padding: 10px 20px;
  position: relative;
  color: #707070;
  overflow: hidden;
  -webkit-transition: ease-out all 0.3s;
  transition: ease-out all 0.3s;
  cursor: pointer;
}

header nav.main ul li:hover {
  color: #fff;
}

header nav.main ul li:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fc758c;
  -webkit-transition: ease-out all 0.3s;
  transition: ease-out all 0.3s;
  position: absolute;
  bottom: -40px;
  left: 0;
  z-index: -1;
}

header nav.main ul li:hover:before {
  bottom: 0;
}

header nav.main ul li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 21px;
  padding: 10px 0;
}

header nav.main ul li:last-child input#search {
  width: 150px;
  opacity: 1;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  border-radius: 0;
  border: 0;
  height: 20px;
  border: 1px solid #fc758c;
  font-family: "Questrial", sans-serif;
}

header nav.main ul li:last-child .search-icon {
  max-width: 21px;
  margin-left: 10px;
}

header nav.main ul li:last-child:before {
  content: none;
}

header .hamburger {
  visibility: hidden;
  width: 0;
  height: 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fc758c;
  text-align: center;
  min-height: 900px;
}

.hero .hero-content {
  color: #fff;
}

.hero .hero-content h2 {
  font-size: 40px;
  letter-spacing: 3px;
  font-family: "Montserrat", sans-serif;
}

.hero .hero-content p {
  font-size: 17px;
  letter-spacing: 2px;
}

.hero .hero-content .white {
  background-color: #fff;
  color: #fc758c;
}

.portfolio {
  width: 90%;
  max-width: 1170px;
  margin: auto;
}

.portfolio .layout {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

.portfolio .layout li {
  margin: 10px;
  cursor: pointer;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  opacity: .5;
}

.portfolio .layout li img {
  max-width: 14px;
}

.portfolio .layout li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio .layout li.active {
  opacity: 1;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.portfolio nav.work-category {
  width: 50%;
  padding-bottom: 50px;
  margin: auto;
}

.portfolio nav.work-category ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  letter-spacing: 2px;
}

.portfolio nav.work-category ul li {
  padding: 10px 20px;
  position: relative;
  color: #707070;
  overflow: hidden;
  -webkit-transition: ease-out all 0.3s;
  transition: ease-out all 0.3s;
  cursor: pointer;
}

.portfolio nav.work-category ul li:hover,
.portfolio nav.work-category ul li.active {
  color: #fff;
}

.portfolio nav.work-category ul li:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fc758c;
  -webkit-transition: ease-out all 0.3s;
  transition: ease-out all 0.3s;
  position: absolute;
  bottom: -40px;
  left: 0;
  z-index: -1;
}

.portfolio nav.work-category ul li:hover:before,
.portfolio nav.work-category ul li.active:before {
  bottom: 0;
}

.portfolio .masonry-with-columns {
  -webkit-columns: 3;
          columns: 3;
}

.portfolio .masonry-with-columns li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: #c3d0d8;
  color: white;
  margin: 0 1rem 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  height: auto;
  -webkit-column-break-inside: avoid;
          break-inside: avoid-column;
}

.portfolio .masonry-with-columns li img {
  width: 100%;
  height: auto;
  display: block;
}

.portfolio .masonry-with-columns li .overlay {
  background: #fc758c;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  left: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  top: 0;
}

.portfolio .masonry-with-columns li .overlay .work-info {
  line-height: normal;
  letter-spacing: 2px;
}

.portfolio .masonry-with-columns li .overlay .work-info h3 {
  border-bottom: 1px solid #fff;
  padding: 10px;
  margin: 0 auto;
  text-transform: uppercase;
}

.portfolio .masonry-with-columns li .overlay .work-info p {
  padding: 10px;
  margin: 0 auto;
  text-transform: capitalize;
}

.portfolio .masonry-with-columns li:hover .overlay {
  left: 0% !important;
}

.portfolio .row {
  display: block;
  -webkit-columns: 1;
          columns: 1;
}

.portfolio .row li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  max-height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .row li img {
  max-width: 150px;
  width: auto;
}

.portfolio .row li .overlay {
  left: auto;
  right: 0;
  width: 85%;
}

.portfolio .row li:hover .overlay {
  left: auto !important;
}

.portfolio .pink {
  background-color: #fc758c;
  color: #fff;
}

footer {
  width: 100%;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

footer ul.social li {
  margin: 10px;
  width: 14px;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

footer ul.social li img {
  width: 14px;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

footer ul.social li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer .copy {
  font-size: 11px;
  letter-spacing: 2px;
}

footer .copy .pink-text {
  color: #fc758c;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

@media only screen and (max-width: 720px) {
  header .brand {
    width: 50%;
  }
  header .hamburger {
    visibility: visible;
    width: 24px;
    height: 4px;
    border-radius: 3px;
    background: #fc758c;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
  }
  header .hamburger:before {
    content: '';
    width: 24px;
    height: 4px;
    border-radius: 3px;
    background: #fc758c;
    display: block;
    position: relative;
    top: -9px;
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
  }
  header .hamburger:after {
    content: '';
    width: 24px;
    height: 4px;
    border-radius: 3px;
    background: #fc758c;
    display: block;
    position: relative;
    top: 5px;
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
  }
  header .hamburger.cross {
    background: transparent;
  }
  header .hamburger.cross:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0px;
  }
  header .hamburger.cross:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -4px;
  }
  header nav.main {
    position: absolute;
    width: 100%;
    background: #fff;
    left: -110%;
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
    top: 110px;
  }
  header nav.main ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header nav.main ul li {
    width: 100%;
    text-align: center;
  }
  header nav.main ul li:last-child {
    max-width: 50%;
  }
  header nav.main.deploy {
    left: 0;
  }
  .hero {
    min-height: 90vh;
  }
  .portfolio .masonry-with-columns {
    -webkit-columns: 1;
            columns: 1;
  }
  .portfolio .masonry-with-columns li {
    margin-right: 0;
  }
  .portfolio .row li .overlay {
    width: 46%;
  }
  .portfolio nav.work-category {
    width: 100%;
  }
  .portfolio nav.work-category ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=styles.css.map */